/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
  color: #222;
  background: #fff;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #FFFFCC;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #cc0068;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  border-bottom: 2px solid #ffffcc;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

.main-page header{
  text-align: center;
  background: url('images/hk.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffffcc;
  transition: all .4s;
}
header .profile-image:hover {
  transform: scale(1.3) rotate(5deg);
}
.tag {
  background-color: #f7f5f0;
  color: #464179;
  padding: 10px;
  border-radius: 10px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #f5cfcd;
  color: #464179;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #f7f5f0;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #cc0068;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #66cc00;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #6f33ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 20px 40px 20px;
  clear: both;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

.about-page header{
  text-align: left;
  background: url('images/about.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

.button {
  margin-top: 50px;
  padding-top: 50px;
  margin-left: 8%;
  padding-bottom: 5px;
}

.favorite {
  color:#ffffcc;
  margin: 0;
  font-size: 1.5em;
}

header .movies {
  background: url('images/movie.jpg') no-repeat top center ;
  background-size: cover;
  display: inline-block;
  padding-top: 10px;
  width: 80px;
  height: 80px;
  border: 2.5px solid #eef9ff;
  transition: all .4s;
  opacity: .7;
}

header .cities {
  background: url('images/city.jpg') no-repeat top center ;
  background-size: cover;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2.5px solid #eef9ff;
  transition: all .4s;
  opacity: .7;
}

header .movies:hover, .cities:hover {
  opacity: 1;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.items {
  clear: both;
}

.items h1 {
  display: inline-block;
  padding-top: 30px;
  border-bottom: 3px solid #000;
}

.items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items li {
  float: left;
  background-color: #f5f5f5;
}

.movie li {
  width: 40%;
  margin: 5%;
}

img {
  width: 100%;
}

.items p {
  background-color: #f5f5f5;
  margin: 0;
  padding: 5%;
  color: #bdc3c7;
  line-height: 1;
}

.city .image {
  background-size: cover;
  padding-top: 70%;
  width: 100%;
}

.city li {
  width: 40%;
  margin: 5%;
}



.venice {
  background-image: url('images/venice_italy.jpg');
}

.rome {
  background-image: url('images/rome_italy.jpg');
}

.vienna {
  background-image: url('images/vienna_austria.jpg');
}

.paris {
  background-image: url('images/paris_france.jpg');
}

.barcelona {
  background-image: url('images/barcelona_spain.jpg');
}

.stpetersburg {
  background-image: url('images/stpetersburg_russia.jpg');
}

.newyork {
  background-image: url('images/newyork_us.jpg');
}

.london {
  background-image: url('images/london_uk.jpg');
}

@media screen and (max-width: 719px) {
  .movie li:nth-child(2n+1) {
    clear: left;
  }
  .city li:nth-child(2n+1) {
    clear: left;
  }
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  .favorite {
    font-size: 2em;
  }

  .button {
    padding-bottom: 0;
  }

  header .movies {
    background: url('images/movie.jpg') no-repeat top center ;
    background-size: cover;
    display: block;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    border: 2.5px solid #eef9ff;
    transition: all .4s;
    opacity: .7;
  }

  header .cities {
    background: url('images/city.jpg') no-repeat top center ;
    background-size: cover;
    display: block;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    border: 2.5px solid #eef9ff;
    transition: all .4s;
    opacity: .7;
  }

  .movie li {
    width: 20%;
    margin: 2.5%;
  }

  .movie li:nth-child(4n+1) {
    clear: left;
  }

  .city li {
    width: 28.3333%;
    margin: 2.5%;
  }

  .city li:nth-child(3n+1) {
    clear: left;
  }

}
